body{
    color: #230c0f;
}
#navBar{
    user-select: none;
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 14px;
}
button{
    color: white;
}

.bg-pastel-green{
    background-color: #4dc149;
}
.dark-green{
    color: #093824;
}
.jasper{
    color: #bf4e30;
}

/*
    #d7e2a1ff
--dark-pastel-green: ;
--licorice: #230c0fff;
--jasper: #bf4e30ff;
--dark-green: #093824ff;*/