.font{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 12px;
}

#searchBar, #searchBar a{
    background-color: #156f48 !important;
    color: #d7e2a1 !important;
}
#searchBar form input{
    background-color: #e3eabe;
    border: #093824 !important;
    color: #093824 !important;
}
#searchBar button, #basketSummary button, #summaryPage button, #loginPage button, #loginPage button h4, #registerPage button, #registerPage button h4{
    background-color: #093824;
    color: #f8fce8;
}

#navBar, #navBar a{
    user-select: none;
    background-color: #d7e2a1 !important;
    color: #093824 !important;
    font-weight: 600;
}

body{
    background-color: #e6ead2;
}

#productsPage h6, h3{
    color: #bf4e30 !important;
}
.ingredients{
    font-size: 13px;
    height: 40px;
}

#searchPath{
    background-color: #e3eabe;
    color: #093824;
    border-bottom: #d7e2a1 1px solid !important;
}
#searchPath select{
    background-color: #d7e2a1;
    border: #093824;
    color: #093824;
}

#productsPage, #productPage, #basketPage, #summaryPage, #loginPage, #registerPage{
    min-height: 800px;
}

#productPage h2, #productPage td, #productPage th, #productPage table{
    color: #093824 !important;
}

.border-top, .border-bottom{
    border-color: #093824 !important;
} 

.Link{
    text-decoration: none;
}

.basketItem{
    background-color: #d7e2a1;
    border: #093824 1px solid;
    color: #093824;
}
.basketItem h4, #basketSummary h1{
    color: #bf4e30;
}
.basketItem span{
    color: #093824 !important;
    background-color: #e6ead2 !important;
    border: #156f48 1px solid !important;
    font-weight: 600;
}
.basketItem input{
    color: #093824 !important;
    border: #156f48 1px solid !important;
    font-weight: 600;
}
.basketItem i{
    color: #ff0000;
}
.basketItem .Link{
    color: #093824;
}

.greenBox{
    background-color: #d7e2a1;
    border: #093824 1px solid;
    color: #093824;
}

#basketSummary{
    background-color: #d7e2a1;
    border: #093824 1px solid;
    color: #093824;
}

/*
    #d7e2a1ff
--dark-pastel-green: ;
--licorice: #230c0fff;
--jasper: #bf4e30ff;
--dark-green: #093824ff;*/